/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Inter', sans-serif;
    background-color: #1a1625;
    color: #e2e8f0;
}

.dark body {
    background-color: #0e0c15;
}

.material-icons {
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1625; /* A dark color from the body background */
}

::-webkit-scrollbar-thumb {
  background-color: #4c1d95; /* A shade of purple */
  border-radius: 10px;
  border: 2px solid #1a1625; /* Padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6d28d9; /* A brighter purple on hover */
}